pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
matplotlib==3.9.0
torch==2.3.1+cpu --index-url https://download.pytorch.org/whl/cpu
cmdstanpy==1.2.4
prophet==1.1.5
optuna==3.6.1
wandb==0.17.6
plotly==5.18.0
python-dotenv==1.0.1
pytest==7.4.3